<div class="container mt-5">
  <div style="text-align: center;" *ngIf="!registerMode">
    <h1>Find you case</h1>
    <p class="lead">
      Come in and see the cases... All you need is to register!
    </p>
    <div class="text-center">
      <button class="btn btn-primary btn-lg mr-2" (click)="toggleRegister()">
        Register</button
      ><button class="btn btn-info btn-lg">Learn More</button>
    </div>
  </div>
  <div *ngIf="registerMode" class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <app-register
          (cancelRegister)="cancelRegisterMode($event)"
        ></app-register>
      </div>
    </div>
  </div>
</div>
