<form #registerForm="ngForm" (ngSubmit)="register()">
  <h2 class="text-center text-primary">Register</h2>
  <hr />
  <div class="form-group">
    <input
      type="text"
      required
      name="username"
      [(ngModel)]="model.username"
      class="form-control"
      placeholder="Username"
    />
  </div>
  <div class="form-group">
    <input
      type="password"
      required
      name="password"
      [(ngModel)]="model.password"
      class="form-control"
      placeholder="Password"
    />
  </div>
  <div class="form-group text-center">
    <button type="submit" class="btn btn-success">Register</button
    ><button type="button" (click)="cancel()" class="btn btn-default">
      Cancel
    </button>
  </div>
</form>
