<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/home']">JAWS</a>

    <ul *ngIf="loggedIn()" class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/members']">Matches</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/lists']">Lists</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/messages']">Messages</a>
      </li>
    </ul>
    <div *ngIf="loggedIn()" class="dropdown" dropdown>
      <a class="dropdown-toggle text-light" dropdownToggle
        >Welcome {{ authService.decodedToken?.unique_name | titlecase }}</a
      >
      <div class="dropdown-menu mt-3" *dropdownMenu>
        <a class="dropdown-item"><i class="fa fa-user"></i>Edit Profile</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="logout()"
          ><i class="fa fa-sign-out"></i>Logout</a
        >
      </div>
    </div>

    <form
      *ngIf="!loggedIn()"
      class="form-inline my-2 my-lg-0"
      #loginForm="ngForm"
      (ngSubmit)="login()"
    >
      <input
        class="form-control mr-sm-2"
        name="username"
        required
        type="text"
        placeholder="Username"
        [(ngModel)]="model.username"
      />
      <input
        class="form-control mr-sm-2"
        name="password"
        required
        type="password"
        placeholder="Password"
        [(ngModel)]="model.password"
      />
      <button
        [disabled]="!loginForm.valid"
        class="btn btn-outline-success my-2 my-sm-0"
        type="submit"
      >
        Login
      </button>
    </form>
  </div>
</nav>
